@import url(https://fonts.googleapis.com/css?family=Oswald:700);
 html {
    background-image: url("http://i.imgur.com/KtuprfN.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1 {
    text-align:center;
    font: 50px Oswald, sans-serif;
    color: #ef2b2d;
    text-shadow:0px 0px 20px #002868;
}
p {
	display:inline-block;
	text-align:center;
    background-color: rgba(0, 40, 104, 0.5);
	margin: 10px 30%;
    padding: 13px;
    color: #fff;
    font: 26px Oswald, sans-serif;
}